<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ShowStudents</servlet-name>
  	<display-name>ShowStudents</display-name>
  	<description></description>
  	<servlet-class>com.onlineClass.Servlets.ShowStudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.onlineClass.Servlets.LoginServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ReadStudents</servlet-name>
  	<display-name>ReadStudents</display-name>
  	<description></description>
  	<servlet-class>com.onlineClass.Servlets.ReadStudents</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>AddTeacher</servlet-name>
   	<display-name>AddTeacher</display-name>
   	<description></description>
   	<servlet-class>com.onlineClass.Servlets.AddTeacher</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>AddSubject</servlet-name>
   	<display-name>AddSubject</display-name>
   	<description></description>
   	<servlet-class>com.onlineClass.Servlets.AddSubject</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>AddClasses</servlet-name>
   	<display-name>AddClasses</display-name>
   	<description></description>
   	<servlet-class>com.onlineClass.Servlets.AddClasses</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>ShowStudents</servlet-name>
  	<url-pattern>/ShowSTudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadStudents</servlet-name>
  	<url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacher</servlet-name>
  	<url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubject</servlet-name>
  	<url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClasses</servlet-name>
  	<url-pattern>/AddClasses</url-pattern>
  </servlet-mapping>
</web-app>
